<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Asset/css/bootstrap.min.css" />
</head>

<body>

    <div class="container mt-5  ">
        <h5 class="display-4 text-dark"> Welcome To Buttons</h5>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum nulla ullam architecto suscipit
            possimus
            inventore necessitatibus ratione asperiores eaque qui. Odio laudantium expedita impedit beatae.</p>
        <h4>1.Butoon Background Colors</h4>
        <button class="btn "> Basic</button>
        <button class="btn btn-primary"> primary</button>
        <button class="btn btn-secondary"> secondary</button>
        <button class="btn btn-info"> info</button>
        <button class="btn btn-success"> success</button>
        <button class="btn btn-danger"> danger</button>
        <button class="btn btn-warning"> warning</button>
        <button class="btn btn-dark"> dark</button>
        <button class="btn btn-light"> light</button>
        <button class="btn btn-link"> link</button>
        <hr>
        <h4>2.Outline buttons</h4>
        <button class="btn "> Basic</button>
        <button class="btn btn-outline-primary"> primary</button>
        <button class="btn btn-outline-secondary"> secondary</button>
        <button class="btn btn-outline-info"> info</button>
        <button class="btn btn-outline-success"> success</button>
        <button class="btn btn-outline-danger"> danger</button>
        <button class="btn btn-outline-warning"> warning</button>
        <button class="btn btn-outline-dark"> dark</button>
        <button class="btn btn-outline-light"> light</button>
        <button class="btn btn-outline-link"> link</button>
        <hr>
        <h4>3.Button Size</h4>
        <button class="btn btn-primary"> normal</button>
        <button class="btn btn-secondary btn-sm"> button-sm</button>
        <button class="btn btn-info btn-lg"> button-lg</button> 

        <h4>4. Button Width 100% venumaa lg& sm mattum dha iruku ?</h4> <!-- buttonb oda width vanhu 100% eduthukum -->
        <button class="btn btn-primary"> normal</button>
        <button class="btn btn-primary btn-lg btn-block"> button-lg</button> 
        <button class="btn btn-success btn-sm  btn-block"> button-sm</button> 
        <h4>5.Disabled State</h4> 
        <button class="btn btn-primary"> normal</button>
      <button class="btn btn-success disabled"> button-sm</button> 
    </div>





    <script src="/Asset/js/jquery.min.js"></script>
    <script src="/Asset/js/bootstrap.min.js"></script>
</body>

</html>