<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Asset/css/bootstrap.min.css" />
</head>

<body>


<div class="jumbotron ">
    <div class="container  ">
        <h3 class="display-4">Welcome To My Jumborton </h3>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, voluptates.</p>
        <hr>
        <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam adipisci obcaecati voluptate unde doloribus!
            Laboriosam aliquam voluptatibus commodi iure cum. </p>
    <button class="btn btn-primary">Show more</button>
    </div>
    
</div>
    









    <script src="/Asset/js/jquery.min.js"></script>
    <script src="/Asset/js/bootstrap.min.js"></script>

</body>

</html>