<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Asset/css/bootstrap.min.css" />
</head>

<body>
    <div class="container">
        <!-- Normal Alert -->
        <h4 class="text-dark ">1.Normal Alert</h4>
        <div class="alert alert-success" role="alert"> <!-- role='alert' user ku theriyarathu kaaga  -->
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur recusandae minus mollitia.</p>
        </div>


        <!-- Link Alert -->
        <h4 class="text-dark">2.Link Alert->Andha link mattum dark ah therium</h4>

        <div class="alert alert-danger" role="alert">
            <p>Lorem ipsum, dolor sit amet consectetur <a class="alert-link" href="#">adipisicing</a> elit. Pariatur
                recusandae minus mollitia.</p>
        </div>
        <!-- Addition Heading -->
        <h4 class="text-dark">3.Addition Heading in Alert</h4>

        <div class="alert alert-success" role="alert">
            <h3 class> Hello!</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus a facilis hic illum in obcaecati quidem
                autem nobis sint nemo.</p>
        </div>
        <!-- Dismis alert -->
        <h4 class="text-dark">4.Dissmiss Alert</h4>

        <div class="alert alert-success alert-dismissible fade show
        
        " role="alert">
           <button class="close" data-dismiss="alert">&times</button>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus a facilis hic illum in obcaecati quidem
                autem nobis sint nemo.</p>
        </div>
    </div>

    <script src="/Asset/js/jquery.min.js"></script>
    <script src="/Asset/js/bootstrap.min.js"></script>

</body>

</html>